---
import Layout from "@layouts/Layout.astro";

import knowledgeService from "@services/knowledgeService";

import KnowledgeHero from "@components/knowledge/KnowledgeHero.astro";
import KnowledgeMeta from "@components/knowledge/KnowledgeMeta.astro";
import KnowledgeTOC from "@components/knowledge/KnowledgeTOC.astro";

import { render } from "astro:content";

import "@styles/components/knowledge-content.css";
import "@styles/components/knowledge-toc.css";

export async function getStaticPaths() {
  const articles = await knowledgeService.getAll();

  const paths = await Promise.all(
    articles.map(async (article) => {
      const entry =
        await knowledgeService.getEntryBySlug(article.slug);

      return {
        params: {
          slug: article.slug,
        },

        props: {
          entry,
        },
      };
    })
  );

  return paths;
}

interface Props {
  entry: Awaited<
    ReturnType<typeof knowledgeService.getEntryBySlug>
  >;
}

const { entry } = Astro.props as Props;

const { Content, headings } = await render(entry);
---

<Layout
  title={entry.data.title}
  description={entry.data.description}
>

  <main class="container">

    <KnowledgeHero
      category={entry.data.category}
      title={entry.data.title}
      description={entry.data.description}
      heroImage={entry.data.heroImage}
    />

    <KnowledgeMeta
      author={entry.data.author}
      publishedAt={entry.data.publishedAt}
      readingTime={entry.data.readingTime}
    />

    <hr />

    <article class="knowledge-layout">

      <aside>

        <KnowledgeTOC
          headings={headings}
        />

      </aside>

      <div class="knowledge-content">

        <Content />

      </div>

    </article>

  </main>

</Layout>