---
import "@styles/knowledge-hero.css";

interface Props {
  category: string;
  title: string;
  description: string;
  heroImage: string;
}

const {
  category,
  title,
  description,
  heroImage,
} = Astro.props;
---

<header class="knowledge-hero">

  <img
    src={heroImage}
    alt={title}
    class="knowledge-hero-image"
  />

  <p class="knowledge-category">
    {category}
  </p>

  <h1>{title}</h1>

  <p class="knowledge-description">
    {description}
  </p>

</header>