---
import SectionTitle from "../SectionTitle.astro";
import ProductCard from "../ProductCard.astro";
import { getCurrentLanguage } from "../../i18n/getCurrentLanguage";

const t = getCurrentLanguage(Astro.url.pathname);
---

<section class="retail-products">

  <div class="container">

    <SectionTitle
      tag={t.products.retail.tag}
      title={t.products.retail.title}
    />

    <div class="products-grid">

      <ProductCard
        image="/images/products/package-100g.png"
        title={t.products.retail.items.pack100.title}
        weight="100g"
        badge={t.products.retail.items.pack100.badge}
      />

      <ProductCard
        image="/images/products/package-250g.png"
        title={t.products.retail.items.pack250.title}
        weight="250g"
        badge={t.products.retail.items.pack250.badge}
      />

      <ProductCard
        image="/images/products/package-500g.png"
        title={t.products.retail.items.pack500.title}
        weight="500g"
        badge={t.products.retail.items.pack500.badge}
      />

    </div>

  </div>

</section>