---
import "../../styles/page.css";
import "../../styles/resources.css";

import PageLayout from "../../layouts/PageLayout.astro";
import PageHero from "../../components/PageHero.astro";
import SectionTitle from "../../components/SectionTitle.astro";
import ResourceGrid from "../../components/resources/ResourceGrid.astro";

import { getCurrentLanguage } from "../../i18n/getCurrentLanguage";
import { getResources } from "../../services/resourceService";

const t = getCurrentLanguage(
  Astro.url.pathname
);

const resources = await getResources();
---

<PageLayout
  title={`${t.resources.listing.pageTitle} | Mato Cashew`}
  description={t.resources.listing.pageDescription}
  canonical="https://matocashew.com/resources"
  breadcrumbs={[
    {
      name: "Home",
      url: "https://matocashew.com"
    },
    {
      name: t.resources.listing.pageTitle,
      url: "https://matocashew.com/resources"
    }
  ]}
>

  <PageHero
    title={t.resources.listing.heroTitle}
    description={t.resources.listing.heroDescription}
  />

  <section class="resources">

    <div class="container">

      <SectionTitle
        tag={t.resources.listing.sectionTag}
        title={t.resources.listing.sectionTitle}
      />

      <ResourceGrid
        resources={resources}
      />

    </div>

  </section>

</PageLayout>