---
import { render } from "astro:content";

import "../../../styles/page.css";
import "../../../styles/resources.css";
import "../../../styles/resource-detail.css";

import PageLayout from "../../../layouts/PageLayout.astro";
import PageHero from "../../../components/PageHero.astro";
import ResourceMeta from "../../../components/resources/ResourceMeta.astro";
import ResourcePageSchema from "../../../components/seo/ResourcePageSchema.astro";

import {
  getResources
} from "../../../services/resourceService";

export async function getStaticPaths() {

  const resources =
    await getResources();

  return resources.map((resource) => ({

    params: {
      slug: resource.data.slug
    },

    props: {
      resource
    }

  }));

}

const {
  resource
} = Astro.props;

const {
  Content
} = await render(resource);

const canonical =
  `https://matocashew.com/km/resources/${resource.data.slug}`;
---
<ResourcePageSchema
  resource={resource}
  canonical={canonical}
  lang="km"
/>
<PageLayout
  lang="km"
  title={`${resource.data.title} | Mato Cashew`}
  description={resource.data.description}
  canonical={canonical}
>

  <PageHero
    title={resource.data.title}
    description={resource.data.description}
  />

  <ResourceMeta
    category={resource.data.category}
    author={resource.data.author}
    publishDate={resource.data.publishDate}
    readingTime={resource.data.readingTime}
    tags={resource.data.tags}
  />

  <section class="container">

    <article class="resource-content">

      <Content />

    </article>

  </section>

</PageLayout>