---
import SectionTitle from "./SectionTitle.astro";
import { getCurrentLanguage } from "../i18n/getCurrentLanguage";

const t = getCurrentLanguage(
  Astro.url.pathname
);
---

<section id="about" class="about">

  <div class="container about-grid">

    <div class="about-image">

      <img
        src="/images/about/about-orchard.jpg"
        alt={t.aboutHome.imageAlt}
        width="700"
        height="500"
        loading="lazy"
        decoding="async"
      />

    </div>

    <div class="about-content">

      <SectionTitle
        tag={t.aboutHome.tag}
        title={t.aboutHome.title}
      />

      <p>
        {t.aboutHome.description}
      </p>

      <ul class="about-list">

        <li>🌿 {t.aboutHome.features.quality}</li>

        <li>🤝 {t.aboutHome.features.farmers}</li>

        <li>🌍 {t.aboutHome.features.export}</li>

        <li>♻️ {t.aboutHome.features.sustainability}</li>

      </ul>

      <a
        href="/products"
        class="btn btn-primary"
      >
        {t.aboutHome.cta}
      </a>

    </div>

  </div>

</section>