---
import { getCurrentLanguage } from "../i18n/getCurrentLanguage";

const t = getCurrentLanguage(
  Astro.url.pathname
);
---
<footer class="footer">

    <div class="container footer-grid">

        <div class="footer-brand">

            <a
                href="/"
                aria-label="Mato Cashew Home"
            >

                <img
                    src="/images/logo/logo-white.png"
                    alt="Mato Cashew Logo"
                />

            </a>

            <p>
            {t.footer.description}
            </p>

        </div>

        <div class="footer-links">

            <h4>{t.footer.quickLinks}</h4>

                <ul>

                    <li><a href="/about">{t.nav.about}</a></li>

                    <li><a href="/products">{t.nav.products}</a></li>

                    <li><a href="/resources">{t.nav.resources}</a></li>

                    <li><a href="/gallery">{t.nav.gallery}</a></li>

                    <li><a href="/wholesale">{t.nav.wholesale}</a></li>

                    <li><a href="/contact">{t.nav.contact}</a></li>

                </ul>

        </div>

        <div class="footer-contact">

            <h4>{t.footer.contact}</h4>

            <p>
            {t.footer.email}:
            <a href="mailto:info@matocashew.com">
                info@matocashew.com
            </a>
            </p>

            <p>
            {t.footer.phone}:
            <a href="tel:+85512646988">
                +855 12 646 988
            </a>
            </p>

        </div>

    </div>

    <div class="footer-bottom">

        <p>

            {t.footer.copyright}

        </p>

    </div>

</footer>