---
import SectionTitle from "./SectionTitle.astro";
import { getCurrentLanguage } from "../i18n/getCurrentLanguage";

const t = getCurrentLanguage(
  Astro.url.pathname
);
---

<section id="gallery" class="gallery">

  <div class="container">

    <SectionTitle
      tag={t.galleryHome.tag}
      title={t.galleryHome.title}
    />

    <div class="gallery-grid">

      <div class="gallery-item large">
        <img
          src="/images/gallery/orchard.jpg"
          alt={t.galleryHome.images.orchard}
          width="600"
          height="400"
          loading="lazy"
          decoding="async"
        />
      </div>

      <div class="gallery-item">
        <img
          src="/images/gallery/farmers.jpg"
          alt={t.galleryHome.images.farmers}
          width="600"
          height="400"
          loading="lazy"
          decoding="async"
        />
      </div>

      <div class="gallery-item">
        <img
          src="/images/gallery/factory.jpg"
          alt={t.galleryHome.images.factory}
          width="600"
          height="400"
          loading="lazy"
          decoding="async"
        />
      </div>

      <div class="gallery-item">
        <img
          src="/images/gallery/kernels.jpg"
          alt={t.galleryHome.images.kernels}
          width="600"
          height="400"
          loading="lazy"
          decoding="async"
        />
      </div>

      <div class="gallery-item">
        <img
          src="/images/gallery/packaging.jpg"
          alt={t.galleryHome.images.packaging}
          width="600"
          height="400"
          loading="lazy"
          decoding="async"
        />
      </div>

      <div class="gallery-item large">
        <img
          src="/images/gallery/export.jpg"
          alt={t.galleryHome.images.export}
          width="600"
          height="400"
          loading="lazy"
          decoding="async"
        />
      </div>

    </div>

  </div>

</section>