---
import Layout from "./Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
  canonical: string;

  lang?: "en" | "km";

  robots?: string;

  ogImage?: string;
  ogType?: "website" | "article" | "product";

  breadcrumbs?: {
    name: string;
    url: string;
  }[];
}

const {
  title,
  description,
  canonical,

  lang = "en",

  robots = "index,follow",

  ogImage,
  ogType,

  breadcrumbs = [],
} = Astro.props;
---

<Layout
  title={title}
  description={description}
  canonical={canonical}

  lang={lang}

  robots={robots}

  ogImage={ogImage}
  ogType={ogType}

  breadcrumbs={breadcrumbs}
>

  <Header />

  <main>

    <slot />

  </main>

  <Footer />

</Layout>